@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;400;500;800&family=Nunito+Sans:wght@200;900&family=Poppins:wght@100;300;500;900&family=Quicksand:wght@300;700&display=swap');
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Mukta', sans-serif; */
    /* font-family: 'Nunito Sans', sans-serif; */
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Quicksand', sans-serif; */
}